:root {
    /* Colors */
    /* Primary */
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    /* Neutral */
    --dark-gray: hsl(0, 0%, 59%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background-color: var(--dark-cyan);
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    max-width: 100vw;
    max-height: 98vh;
}

.card{
    width: 300px;
    height: 500px;
    margin: 70px auto;
    padding: 10vh 0 0 0;
}
.card--banner {
    background-image: url('../images/bg-pattern-card.svg');
    width: 100%;
    height: 135px;
    background-position: center;
    background-size:cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card--info__pic{
    background-image: url('../images/image-victor.jpg');
    background-position: center;
    background-size: contain;
    width: 90px;
    height: 90px;
    border: 6px solid white;
    border-radius: 50px;
    position: absolute;
    top: -50px;
    left: calc(50% - 43px);
}
.card--info {
    background-color: white;
    text-align: center;  
    position: relative;
    padding: 55px 0 25px 0;
}
.card--info__name{
    display: inline-flex;
    padding: 15px 0 15px 0;
}
.card--info__states {
    list-style: none;
    background-color: white;
    display: flex;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 1px solid var(--dark-gray);
    font-weight: 700;
    justify-content: space-evenly;
}
.card--info__states .texto {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
}
.card--info__states .texto--item {
    display: flex;
    flex-direction: column;
}
.attribution {
    font-size: 12px;
}
.attribution a {
    font-size: 12px;
    text-decoration: none;
}
.circle-top {
    background-image: url('../images/bg-pattern-top.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    position: absolute;
    top: -300px;
    left: -330px;
    z-index: -1;
}
.circle-bottom {
    background-image: url('../images/bg-pattern-top.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: -20vh;
    right: -40vw;
    z-index: -1;
}
@media (min-width: 768px) {
    .circle-top {
        background-image: url('../images/bg-pattern-top.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 700px;
        height: 700px;
        position: absolute;
        top: -350px;
        left: -150px;
    }
    .circle-bottom {
        background-image: url('../images/bg-pattern-top.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 700px;
        height: 700px;
        position: absolute;
        bottom: -350px;
        right: -65px;
    }

}