@import "./components/globals";

.header {
    background-image: url("../../images/mobile/image-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}
.header__menu {
    padding: 15px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .mobile-menu {
        float: right;
    }
    .status_1{
        visibility: hidden;
    }
    .status_2{
        visibility: visible;
    }
    .mobile-menu-items {
        position: absolute;
        top: 70px;
        text-align: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 80%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 7px 0;
        background-color: $White;
        color: $Dark-grayish-blue;
        border-radius: 25px;
        border-top-right-radius: 0;
        align-items: center;
        a{
            text-decoration: none;
            font-family: $Barlow;
            list-style: none;
            width: 150px;
            padding: 10px;
            color: $Dark-grayish-blue;
        }
        li{
            list-style: none;
        }
        
        a:hover{
            background-color: #fad400;
            border-radius: 15px;
            font-family: $Fraunces;
            color: black;
            transition: 0.82s;
        }

          
    }
}
.header__title {
    display: flex;
    flex-direction: column;
    color: $White;
    font-weight: 900;
    font-size: 1.7rem;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    align-items: center;
    padding-top: 60px;
    h1 {
        margin-bottom: 9px;
    }
}

.header__title-arrow {
    width: 30px;
    height: 115px;
    margin-top: 45px;
}
.header__title-egg {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text__main-one {
    text-align: center;
    padding: 55px 0;
    h2 {
        font-weight: 800;
        font-size: 2rem;
        color: $Very-dark-desaturated-blue;
        margin-bottom: 15px;
    }
    .text__main-one-text {
        color: $Dark-grayish-blue;
        font-family: $Barlow;
        padding: 0 25px;
        font-size: 18px;
        line-height: 27px;
    }
    .text__main-one-p {
        font-weight: 600;
        text-transform: uppercase;
        color: $Very-dark-desaturated-blue;
        text-decoration-line: underline;
        text-decoration-color: #fad400;
        text-decoration-thickness: 4px;
        display: inline-block;
        margin-top: 25px;
    }
}

.text__main-two {
    text-align: center;
    .text__main-two-img {
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    h2 {
        padding: 55px 0 0 0;
        font-weight: 800;
        font-size: 2rem;
        color: $Very-dark-desaturated-blue;
        margin-bottom: 15px;
    }
    .text__main-two-text {
        color: $Dark-grayish-blue;
        font-family: $Barlow;
        padding: 0 25px;
        font-size: 18px;
        line-height: 27px;
    }
    .text__main-two-p {
        font-weight: 600;
        text-transform: uppercase;
        color: $Very-dark-desaturated-blue;
        text-decoration-line: underline;
        text-decoration-color: $Soft-red;
        text-decoration-thickness: 4px;
        display: inline-block;
        margin-top: 25px;
    }
}

.text__main-three {
    background-image: url("../../images/mobile/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $Dark-desaturated-cyan;
    padding-bottom: 60px;
    h2 {
        font-weight: 900;
        margin-bottom: 25px;
        font-size: 27px;
    }
    .text__main-three-text {
        font-family: $Barlow;
        padding: 0 20px;
        font-size: 16px;
        line-height: 23px;
    }
}
.text__main-four {
    background-image: url("../../images/mobile/image-photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $Dark-blue;
    padding-bottom: 60px;
    h2 {
        font-weight: 900;
        margin-bottom: 25px;
        font-size: 27px;
    }
    .text__main-four-text {
        font-family: $Barlow;
        padding: 0 20px;
        font-size: 16px;
        line-height: 23px;
    }
}
.text__main-tetimonial-title {
    text-transform: uppercase;
    color: $Grayish-blue;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2.5px;
    margin: 55px 0 20px 0;
    text-align: center;
}
.text__main-tetimonial {
    text-align: center;
    .text__main-tetimonial-pic {
        border-radius: 50%;
        width: 65px;
        height: 65px;
        margin: 50px 0 35px 0;
    }
    .text__main-tetimonial-text {
        font-family: $Barlow;
        color: $Very-dark-grayish-blue;
        padding: 0 30px;
        line-height: 25px;
        font-weight: 600;
        font-size: 18px;
    }
    .text__main-tetimonial-name {
        margin: 30px 0 10px 0;
        font-weight: 900;
        color: $Very-dark-desaturated-blue;
    }
    .text__main-tetimonial-job {
        color: $Grayish-blue;
        font-family: $Barlow;
        font-size: 12.5px;
    }
}
.images-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0 0 0;
    width: 100%;
    height: 375px;
    .images-footer-1 {
        width: 50%;
        height: 50%;
        background-image: url("../../images/mobile/image-gallery-milkbottles.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images-footer-2 {
        width: 50%;
        height: 50%;
        background-image: url("../../images/mobile/image-gallery-orange.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images-footer-3 {
        width: 50%;
        height: 50%;
        background-image: url("../../images/mobile/image-gallery-cone.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images-footer-4 {
        width: 50%;
        height: 50%;
        background-image: url("../../images/mobile/image-gallery-sugar-cubes.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

footer {
    background-color: #91d3c5;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    img {
        margin: 40px auto;
        width: 124px;
        height: 24px;
    }
    section {
        display: flex;
        flex-direction: column;
        ul {
            display: flex;
            justify-content: space-evenly;
        }
        li {
            font-family: $Barlow;
            list-style: none;
            color: #25564b;
            opacity: 0.85;
            a {
                text-decoration: none;
            }
            a:-webkit-any-link {
                color: #25564b;
            }
            a:hover {
                color: $White;
            }
        }
    }
    .footer__media {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 90px 0 50px 0;
        li {
            list-style: none;
        }
        .socialMedia_facebook {
            background-image: url("../../images/icon-facebook.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        .socialMedia_instagram {
            background-image: url("../../images/icon-instagram.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        .socialMedia_twitter {
            background-image: url("../../images/icon-twitter.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
        .socialMedia_pinterest {
            background-image: url("../../images/icon-pinterest.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
        }
    }
}

@media (min-width: 864px) {
    .header {
        background-image: url("../../images/desktop/image-header.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 90vh;
    }
    .header__menu{
        img{
            width: 140px;
            height: 30px;
        }
        .status_1 {
            position:initial;
            visibility: visible;
        }
        .mobile-menu-items {
            position: static;
            top: 70px;
            text-align: center;
            width: 80%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 7px 0;
            background-color: transparent;
            border-radius: 25px;
            border-top-right-radius: 0;
            align-items: center;
            a {
                font-size: 1.1rem;
                color: $White;
                font-family: $Barlow;
                list-style: none;
                width: 150px;
                padding: 10px;
                margin-right: 10px;
            }
            a:hover{
                background-color: rgba($color: #ffffff, $alpha: .3);
                border-radius: 15px;
                font-family: $Fraunces;
                color: $White;
                transition: 0.82s;
            }
    
              
        }

    }
    .header__title{
        padding-top: 85px;
        h1{
            font-size: 3.7rem;
            margin-bottom: 9px;
            letter-spacing: 7px;
        }
        h1 > br {
            display: none;
        }
    }
    
    #displayMenu{
        display: none;
    }
        
    .text__main-first {
        display: flex;
    }
    .text__main-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
    .header__title-egg {
        width: 50%;
        height: 100%;
        order: 1;
    }
    .text__main-two {
        display: flex;
        .text__main-two-img {
            width: 50%;
            height: 100%;
        }
        .text__main-two-cluster {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }
    .text__main-three-four {
        display: flex;
    }
    .text__main-three {
        width: 50%;
        margin: 0;
    }
    .text__main-four {
        width: 50%;
    }
    .text__main-tetimonial-title{
        margin: 170px 0 20px 0;
        font-size: 1.5rem;
    }
    .text__main-tetimonial {
        display: flex;
        width: 100%;
        margin-bottom: 170px;
        h3 {
            display: inline-block;
        }
    }
    .images-footer {
        display: flex;
        flex-wrap: wrap;
        margin: 35px 0 0 0;
        height: 500px;
        .images-footer-1 {
            width: 25%;
            height: auto;
            background-image: url("../../images/desktop/image-gallery-milkbottles.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .images-footer-2 {
            width: 25%;
            height: auto;
            background-image: url("../../images/desktop/image-gallery-orange.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .images-footer-3 {
            width: 25%;
            height: auto;
            background-image: url("../../images/desktop/image-gallery-cone.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .images-footer-4 {
            width: 25%;
            height: auto;
            background-image: url("../../images/desktop/image-gallery-sugarcubes.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    footer {
        ul {
            margin: 0 300px;
        }
    }
}
