@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
:root{
    --VeryDarkGray: hsl(0, 0%, 17%);
    --DarkGray: hsl(0, 0%, 59%);
    --White: white;
    --Black: black;
    --font: 'Rubik', sans-serif;;
}
.firstSection{
    background-image: url(../../images/pattern-bg-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px;
    max-height: 250px;
}

.firstSection h1{
    font-weight: 500;
    margin: 8px 0px;
    color: var(--White);
}

.firstSection--form{
    height: 38px;
    display: flex;
    justify-content: center;
}

#search_input{
    font-size: 18px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 8px;
    border: 0px solid;
}
#search_button{
    background-color: var(--Black);
    height: 100%;
    width: 40px;
    background-image: url(../../images/icon-arrow.svg);
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.firstSection--result{
    height: 230px;
    background-color: var(--White);
    margin: 8px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-tittle{
    color: var(--DarkGray);
    font-size: 10px;
    font-weight: 500;
}
.ip-info{
    font-weight: 700;
    font-size: 16px;
    color: var(--VeryDarkGray);
    max-width: 275px;
    margin: auto;
}

#map{
    height: 180px;
}
.leaflet-container {
    width: 100vw;
    height: 100vh;
  }