@import './components/_globals.scss';
body {
    background-color: $LightGrayishCyan1;
    h1{
        text-align: center;
        margin: 25px 0;
        color: rgba($color: #000000, $alpha: 0.6);
        letter-spacing: 5.5px;
    }
    label{
        opacity: 0.7;
        font-size: 20px;
    }
}
.section{
    margin-bottom: 25px;
}

.Calc {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
/*     .Calc__tip div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
           
    } */
}
.Calc__tip--column{
    display: flex;
    width: 100%;
}
.Calc__tip--left-column{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.Calc__tip--right-column{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Calc__tip--left-column > button, .Calc__tip--right-column > button, .Calc__tip--tip-input {
    margin: 5px;
    font-weight: bold;
    color: $White;
    text-align: center;
    background-color: $VeryDarkCyan;
    min-width: 60px;
    height: 45px;
    border-radius: 10px;
    border:none;
}
::placeholder{
    color: $White;
}
.Calc__tip--left-column > button:active, .Calc__tip--right-column > button:active, .Calc__tip--tip-input:active {
    background-color: $StrongCyan;
    outline: none;
}
.Calc__tip--left-column > button:focus, .Calc__tip--right-column > button:focus, .Calc__tip--tip-input:focus {
    background-color: $StrongCyan;
    outline: none;
}
.input {
    outline: none;
    background-color: $LightGrayishCyan2;
    border: none;
    text-align: end;
}
.input-dollar{
    display: flex;
    background-color: $LightGrayishCyan2;
    align-items: center;
    .input-dollar2 {
        background-image: url('../images/icon-dollar.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 23px;
        height: 23px;
    }
}

.input-people{
    display: flex;
    background-color: $LightGrayishCyan2;
    align-items: center;
    .input-people2{
        background-image: url('../images/icon-person.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 23px;
        height: 23px;
        padding-left: 15px;
    }

}

.Calc__result{
    background-color: $VeryDarkCyan;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    margin-top: 0px;
    div {
        margin-bottom: 15px;
    }
    p {
        font-size: 17px;
        color: $White;
    }
    span {
        font-size: 17px;
        color: $DarkGrayishCyan1;
    }
    button {
        background-color: $StrongCyan;
        outline: none;
        border-radius: 15px;
        border: none;
    }
    
}

.attribution{
    font-size: 15px;
    a {
        font-size: 15px;
    }
}