* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --pink-lavender: #CDB4DB;
    --orchid-pinck: #FFC8DD;
    --nadeshiko-pink: #FFAFCC;
    --uranian-blue: #BDE0FE;
    --baby-blue-eyes: #A2D2FF;
}
html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 125px;
    /* background-color: var(--orchid-pinck); */
    background: linear-gradient(25.8deg, #CDB4DB 0.0005%, #FFC8DD 100%);
}
.nav-bar .nav-bar__logo {
    width: 150px;
    height: 66.5px;
}
.nav-bar .nav-bar-list {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-bar .nav-bar-items {
    width: 100%;
}
.nav-bar .nav-bar-list .nav-bar-item {
    font-size: 1.2rem;
    padding: 20px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}
.nav-bar .nav-bar-list .nav-bar-item:hover {
    font-size: 1.2rem;
    padding: 20px;
    font-weight: 400;
    text-align: center;
}

main .first-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .first-section__img{
    width: 320px;
    height: 230px;
    background-image:url('https://i.pinimg.com/originals/44/ab/f7/44abf7a845054f6561cfaeac724943c1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
main .first-section h1 {
    position: absolute;
    align-content: center;
    align-self: center;
    color: ivory;
    font-size: 2.5rem;
    background-color: black;
}