* {
    font-family: "Rubik", sans-serif;
    color: hsl(236, 100%, 87%);
}

body {
    background-color: hsl(226, 43%, 10%);
    height: 100vh;
    margin: 8vh 0;
    display: flex;
    justify-content: center;
}
main{
    width: 80%;
}

.card-main {
    background-color: hsl(235, 46%, 20%);
    border-radius: 25px;
    height: 240px;
}
.card-main > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    margin: 40px 0;
}
.card-main_user {
    background-color: hsl(246, 80%, 60%);
    border-radius: 25px;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 24px;
}
.card-main_user-pic {
    width: 75px;
    border: 2px solid white;
    border-radius: 50%;
}

.card-main_user-info {
    margin: 0;
}
.card-main_user-info > h1 {
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}
.card-main_user-info > p {
    margin: 0;
}

.card-main_items {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    border-radius: 15px;
    margin: 35px 0;
    height: 180px;
}

.card-main_items-logo {
    top: -5px;
    width: 60px;
    position: absolute;
    right: 1px;
}
.card-main_items-article {
    background-color: hsl(235, 46%, 20%);
    position: absolute;
    width: inherit;
    height: 100%;
    top: 45px;
    border-radius: 15px;
}
.card-main_items-article > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.card-main_items-article > p {
    margin: 20px;
}
.card-main_items-article:hover {
    cursor: pointer;
    background-color: hsl(236, 42%, 33%);
}

.card-main_items-hour {
    font-weight: 500;
    font-size: 3rem;
    color: white;
    margin: 0;
}

.card-main_items-work {
    background-color: hsl(15, 100%, 70%);
    background-image: url(../images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.card-main_items-play {
    background-color: hsl(195, 74%, 62%);
    background-image: url(../images/icon-play.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.card-main_items-study {
    background-color: hsl(348, 100%, 68%);
    background-image: url(../images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.card-main_items-exercise {
    background-color: hsl(145, 58%, 55%);
    background-image: url(../images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.card-main_items-social {
    background-color: hsl(264, 64%, 52%);
    background-image: url(../images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.card-main_items-self-care {
    background-color: hsl(43, 84%, 65%);
    background-image: url(../images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: right -4px;
    background-size: 75px;
    height: 65px;
}
.ellipsis-icon {
    cursor: pointer;
}

@media (min-width: 580px) {
    .card-main_items-article > div {
        justify-content: space-evenly;
    }
    
}

@media (min-width: 1000px) {
    body {
        background-color: hsl(226, 43%, 10%);
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main {
        display: grid;
        grid-template-columns: 1fr repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 20px;
        margin: 0 10%;
    }

    .card-main {
        background-color: hsl(235, 46%, 20%);
        grid-row-start: 1;
        grid-row-end: 3;
        border-radius: 25px;
        width: auto;
        height: 475px;
    }
    .card-main > ul {
        list-style: none;
        padding: 24px;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        font-size: 18px;
    }
    .card-main > ul > li{
        margin: 5px 0;
        cursor: pointer;
    }
    .card-main > ul > li:hover{
        color: white;
    }
    .card-main_user {
        background-color: hsl(246, 80%, 60%);
        border-radius: 25px;
        height: 60%;
        display: flex;
        flex-direction: column;
        padding: 24px;
    }
    .card-main_user-pic {
        width: 75px;
        border: 2px solid white;
        border-radius: 50%;
    }

    .card-main_user-info {
        margin: 45px 0 0 0;
    }
    .card-main_user-info > h1 {
        font-weight: 300;
        font-size: 3rem;
        margin: 0;
    }
    .card-main_user-info > p {
        margin: 0;
    }

    .card-main_items {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-y: hidden;
        border-radius: 15px;
        margin: 0;
    }

    .card-main_items-logo {
        top: -5px;
        width: 60px;
        position: absolute;
        right: 1px;
    }
    .card-main_items-article {
        background-color: hsl(235, 46%, 20%);
        position: absolute;
        width: inherit;
        height: 85%;
        bottom: 0;
        border-radius: 15px;
        /* bottom: 12px; */
    }
    .card-main_items-article > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
    }

    .card-main_items-article > p {
        margin: 20px;
    }
    .card-main_items-article:hover {
        cursor: pointer;
        background-color: hsl(236, 42%, 33%);
    }
    .card-main_items-article > div:nth-child(2n) {
        align-items: flex-start;
        flex-direction: column;
    }

    .card-main_items-hour {
        font-weight: 500;
        font-size: 3rem;
        color: white;
    }

    .card-main_items-work {
        background-color: hsl(15, 100%, 70%);
        background-image: url(../images/icon-work.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
    .card-main_items-play {
        background-color: hsl(195, 74%, 62%);
        background-image: url(../images/icon-play.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
    .card-main_items-study {
        background-color: hsl(348, 100%, 68%);
        background-image: url(../images/icon-study.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
    .card-main_items-exercise {
        background-color: hsl(145, 58%, 55%);
        background-image: url(../images/icon-exercise.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
    .card-main_items-social {
        background-color: hsl(264, 64%, 52%);
        background-image: url(../images/icon-social.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
    .card-main_items-self-care {
        background-color: hsl(43, 84%, 65%);
        background-image: url(../images/icon-self-care.svg);
        background-repeat: no-repeat;
        background-position: right -4px;
        background-size: 75px;
        height: 65px;
    }
}
