header {
    background-color: $DarkBlue_intro;
    width: 100%;
    height: 230px;
}
.logo {
    background-image: "../images/logo.svg";
    width: 60px;
    height: 50px;
}
.navbar {
    text-decoration: none;
}